@import url(basestructure.css);

strong {
    font-weight: lighter;
    color: black;
    font-size: larger;
}

/* Customizing top image here */
#top-image { 
    width: inherit;
    height: 100;
}

.information-image-placeholder {
    display: flex;
    margin: 0 auto;
    padding: 40px 0 0 0;
    justify-content: end;
    background-color: aqua;
    width: 60vw;
    height: 250px;
    z-index: 1;
}

.information-text-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 35px 0 0;
    position: absolute;
    gap: 8px;
}

#headerStrong1 {
    font-size: 1.6rem;
    font-weight: 500;
}

#headerStrong2 {
    font-size: 1.2rem;
    font-weight: 300;
}

/* content grid zone */

/* adjustable size for grid container */
.contentgrid {
    display: grid;
    width: 60vw;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: repeat(2, 370px); 
    grid-template-areas: 
    "content-1 content-2"
    "content-3 content-4";
    gap: 20px;
    margin: 50px auto;
}


.grid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

#leader-image, #villager-image {
    display: flex;
    width: auto;
    height: 100%;
    min-height: 420px;
    animation: fadeIn 2.5s;
}

.grid-header {
    font-size: 1.4rem;
    font-weight: 500;
    align-self: start;
    animation: fadeInLeft 2s;
}

.grid-paragraph {
    font-size: 1rem;
    font-weight: 400;
    animation: fadeInLeft 2.2s;
}
/* Tablet Responsive Design */

@media (max-width: 1200px) {
    .information-image-placeholder {
        width: 100vw;
        margin: 60px 0;
    }

    .contentgrid {
        width: 100vw;
        gap: 0px;
        row-gap: 25px;
    }

    .grid-content {
        padding: 0;
    }    

    .grid-header {
        font-size: 1.4rem;
        padding: 0 35px;
    }
    
    .grid-paragraph {
        font-size: 1rem;
        padding: 0 35px;
    }
}

@media (max-width: 750px) {
    .information-image-placeholder {
        height: 200px;
        padding: 65px 0 0 0;
    }

    #headerStrong1 {
        font-size: 1.4rem;
    }
    
    #headerStrong2 {
        font-size: 0.9rem;
    }

    .contentgrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "content-1"
        "content-2"
        "content-4"
        "content-3";
        row-gap: 10px;
    }

    .grid-content {
        padding: 15px 0;
        margin: 0;
    }

    #leader-image, #villager-image {
        min-height: 230px;
        max-height: 250px;
    }

    .grid-header {
        font-size: 1.1rem;
        padding: 0;
        align-self: center;
    }
    
    .grid-paragraph {
        font-size: 0.8rem;
        padding: 0 15px;
        text-align: center;
    }
}

/* Animation Zone */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-200px, 0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(200px, 0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}